 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1863px;
}

.u-section-1 .u-image-1 {
  width: 481px;
  height: 481px;
  background-image: url("images/snowboard.jpg");
  background-position: 56.77% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 158px 0 0 auto;
}

.u-section-1 .u-group-1 {
  width: 723px;
  height: 723px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: -317px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 78px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 9px 22px 0 61px;
}

.u-section-1 .u-image-2 {
  width: 446px;
  height: 446px;
  background-image: url("images/IMG_1517.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: -130px auto -236px -257px;
}

.u-section-1 .u-image-3 {
  width: 500px;
  height: 500px;
  background-image: url("images/IMG_1800.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: -999px auto 0 -33px;
}

.u-section-1 .u-image-4 {
  width: 364px;
  height: 364px;
  background-image: url("images/IMG_0547.jpg");
  background-position: 50% 55.98%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 296px -17px 60px auto;
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
    height: 720px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 21px;
    margin-left: 60px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -996px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
    height: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    margin-top: -816px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1432px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    height: 340px;
    margin-top: -176px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 120px;
    padding-right: 120px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 340px;
    margin-top: -616px;
    margin-left: 0;
  }

  .u-section-1 .u-image-4 {
    width: 340px;
    height: 340px;
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}