 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1372px;
}

.u-section-1 .u-image-1 {
  width: 481px;
  height: 481px;
  background-image: url("images/767.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 60px auto 0 659px;
}

.u-section-1 .u-image-2 {
  width: 415px;
  height: 415px;
  background-image: url("images/bnnnn-min.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 171px auto 0 698px;
}

.u-section-1 .u-image-3 {
  width: 446px;
  height: 446px;
  background-image: url("images/45343.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: -415px auto 0 0;
}

.u-section-1 .u-image-4 {
  width: 500px;
  height: 500px;
  background-image: url("images/65754.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: -1140px auto 0 0;
}

.u-section-1 .u-group-1 {
  width: 723px;
  height: 723px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: -234px auto 169px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 27px 66px 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 500;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  font-weight: 700;
  border-style: solid;
  margin: 40px auto 0;
  padding: 16px 52px 16px 51px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    width: 433px;
    height: 433px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    margin-left: 525px;
  }

  .u-section-1 .u-image-4 {
    width: 471px;
    height: 471px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1821px;
  }

  .u-section-1 .u-image-1 {
    width: 359px;
    height: 359px;
  }

  .u-section-1 .u-image-2 {
    width: 391px;
    height: 391px;
    margin-top: 951px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-image-3 {
    width: 398px;
    height: 398px;
    margin-top: -697px;
  }

  .u-section-1 .u-image-4 {
    width: 377px;
    height: 377px;
    margin-top: -1188px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
    height: 720px;
    margin-top: -140px;
    margin-bottom: 590px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 65px;
    margin-right: 65px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1999px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 1129px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -829px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -1040px;
  }

  .u-section-1 .u-group-1 {
    width: 584px;
    height: 584px;
    margin: -162px -22px 732px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2019px;
  }

  .u-section-1 .u-image-1 {
    height: 340px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: 1219px;
    height: 340px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 340px;
    margin-top: -720px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -1138px;
    height: 340px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-1 {
    margin: -69px -122px 723px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 120px;
    padding-right: 120px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}