 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1352px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1184px;
  margin: 15px -44px 0 auto;
}

.u-section-1 .u-layout-cell-1 {


  min-height: 1337px;

  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;

  margin: 11px -77px 0 0;

}

.u-section-1 .u-image-1 {
  object-position: 50% 0%;
  width: 447px;
  height: 387px;
  margin: 30px auto 0 0;
}

.u-section-1 .u-image-2 {
  width: 453px;
  height: 324px;
  margin: 30px auto 0 0;
}

.u-section-1 .u-image-3 {
  width: 453px;
  height: 313px;
  margin: 30px auto 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 1440px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 75px 49px 0 42px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-8 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  align-self: center;
  background-image: none;
  text-align: center;
  border-style: solid;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-weight: 700;
  margin: -42px auto 0;
  padding: 20px 47px 20px 46px;
}

.u-section-1 .u-text-3 {
  margin: 11px 275px 0 290px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1195px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1483px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-1 {

    min-height: 1106px;

  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 35px;
  }

  .u-section-1 .u-text-1 {
    margin-right: -11px;
  }

  .u-section-1 .u-image-1 {
    width: 392px;
    height: 340px;
  }

  .u-section-1 .u-image-2 {
    width: 392px;
    height: 280px;
  }

  .u-section-1 .u-image-3 {
    width: 392px;
    height: 271px;
  }

  .u-section-1 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 1111px;
  }

  .u-section-1 .u-text-2 {

    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 82px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 193px;

    margin-left: 209px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 132px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 300px;
    height: 260px;
  }

  .u-section-1 .u-image-2 {
    width: 300px;
    height: 214px;
  }

  .u-section-1 .u-image-3 {
    width: 300px;
    height: 207px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }


  .u-section-1 .u-btn-8 {
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    margin-right: 129px;

    margin-left: 145px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 232px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 60px;
    padding-bottom: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 29px;

    margin-left: 45px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 517px;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  margin: 50px auto 0 -14px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 468px;
  grid-gap: 0px 0px;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-2 .u-image-1 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  margin: 20px auto 0 0;
}

.u-section-2 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 20px auto 0 0;
  padding: 2px 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-2 .u-image-2 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.875rem;
  margin: 20px auto 0 0;
}

.u-section-2 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 20px auto 0 0;
  padding: 2px 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-2 .u-image-3 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.875rem;
  margin: 20px auto 0 0;
}

.u-section-2 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 20px auto 0 0;
  padding: 2px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 381px;
  }

  .u-section-2 .u-image-1 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-3 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 875px;
  }

  .u-section-2 .u-image-1 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-3 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-image-2 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-image-3 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.5rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 491px;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  width: 1109px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 491px;
  grid-gap: 0px 0px;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-3 .u-image-1 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  margin: 20px -30px 0 0;
}

.u-section-3 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 20px auto 0 0;
  padding: 2px 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-3 .u-image-2 {
  height: 213px;
  object-position: 50% 56.24%;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.875rem;
  margin: 20px -30px 0 0;
}

.u-section-3 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 20px auto 0 0;
  padding: 2px 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-3 .u-image-3 {
  height: 213px;
  object-position: 53.62% 45.32%;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.875rem;
  margin: 20px -30px 0 0;
}

.u-section-3 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 20px auto 0 0;
  padding: 2px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    width: 940px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 416px;
  }

  .u-section-3 .u-image-1 {
    height: 174px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    height: 174px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-image-3 {
    height: 174px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 956px;
  }

  .u-section-3 .u-image-1 {
    height: 206px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    height: 206px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-3 {
    height: 206px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    height: 357px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    height: 357px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    height: 357px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-image-1 {
    height: 220px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-image-2 {
    height: 220px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-image-3 {
    height: 220px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.5rem;
  }
} .u-section-4 {

  background-image: url("images/bg564.png");
  background-position: 48.48% 50%;
}


.u-section-4 .u-sheet-1 {
  min-height: 1553px;
}

.u-section-4 .u-text-1 {

  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 11px 33px 0 81px;
}


.u-section-4 .u-text-2 {

  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  background-image: none;
  font-weight: 700;
  margin: 18px 22px 0;
}


.u-section-4 .u-text-3 {

  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;

  margin: 92px auto 0;
}

.u-section-4 .u-btn-1 {

  border-style: solid;
  padding: 0;
}


.u-section-4 .u-gallery-1 {

  height: 1138px;
  grid-gap: 17px 17px;
  margin-top: -98px;
  margin-bottom: 60px;
}


.u-section-4 .u-gallery-inner-1 {

  grid-template-columns: repeat(3, auto);
  grid-gap: 41px;
}


.u-section-4 .u-text-4 {

  box-sizing: border-box;
  top: 2111px;
  left: 50px;
  width: 374px;
  height: 28px;
  opacity: 0.8;
  position: fixed;
  z-index: 100000;
  pointer-events: none;
  transform-origin: 64.0374% 49.5034% 0px;
  margin: 0;
}


.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-9 {
  margin-bottom: 0;
}

.u-section-4 .u-over-slide-9 {

  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}


.u-section-4 .u-text-5 {

  box-sizing: border-box;
  top: 2672px;
  left: 50px;
  width: 374px;
  height: 28px;
  opacity: 0.8;
  position: fixed;
  z-index: 100000;
  pointer-events: none;
  transform-origin: 65.6417% 38.5588% 0px;
  transform: matrix(1, 0, 0, 1, 235.555, -65.5557);
  margin: 0;
}

@media (max-width: 1199px) {

  .u-section-4 .u-sheet-1 {
    min-height: 1081px;
  }

  .u-section-4 .u-text-1 {

    margin-left: 49px;
    margin-right: 49px;
  }


  .u-section-4 .u-text-2 {

    margin-right: 0;
    margin-left: 0;
  }


  .u-section-4 .u-gallery-1 {
    height: 938px;
  }

  .u-section-4 .u-text-4 {

    transform: matrix(1, 0, 0, 1, 259.997, 166.666);
  }
}

@media (max-width: 991px) {

  .u-section-4 .u-sheet-1 {
    min-height: 1965px;
  }

  .u-section-4 .u-gallery-1 {
    height: 1822px;
  }

  .u-section-4 .u-gallery-inner-1 {

    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {

  .u-section-4 .u-sheet-1 {
    min-height: 5129px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 82px;
  }

  .u-section-4 .u-gallery-1 {
    height: 4986px;
  }

  .u-section-4 .u-gallery-inner-1 {

    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {

  .u-section-4 .u-sheet-1 {
    min-height: 3333px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 76px;
  }

  .u-section-4 .u-gallery-1 {

    height: 3190px;
  }
}