 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1477px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1184px;
  margin: 6px -22px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 1465px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 12px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  margin: 11px -152px 0 0;
}

.u-section-1 .u-image-1 {
  object-position: 50% 50%;
  width: 447px;
  height: 475px;
  margin: 21px auto 0 0;
}

.u-section-1 .u-image-2 {
  width: 441px;
  height: 273px;
  margin: 6px auto 0 3px;
}

.u-section-1 .u-image-3 {
  width: 444px;
  height: 306px;
  margin: 11px auto 0 3px;
}

.u-section-1 .u-image-4 {
  width: 444px;
  height: 305px;
  margin: 9px auto 0 3px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 1465px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 0 34px;
}

.u-section-1 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 1.25rem;
  margin: 86px 56px 0 21px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-7 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  background-image: none;
  text-align: center;
  border-style: solid;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-weight: 700;
  margin: 43px auto 0 130px;
  padding: 20px 47px 20px 46px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1483px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1163px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 35px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 376px;
    height: 400px;
  }

  .u-section-1 .u-image-2 {
    width: 376px;
    height: 233px;
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    width: 376px;
    height: 259px;
    margin-left: 0;
  }

  .u-section-1 .u-image-4 {
    width: 376px;
    height: 258px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 1233px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-7 {
    align-self: center;
    margin-left: 17px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 508px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 288px;
    height: 306px;
  }

  .u-section-1 .u-image-2 {
    width: 288px;
    height: 178px;
  }

  .u-section-1 .u-image-3 {
    width: 288px;
    height: 198px;
  }

  .u-section-1 .u-image-4 {
    width: 288px;
    height: 198px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 496px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 72px;
    margin-right: -11px;
    margin-left: 11px;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 20px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1483px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 60px;
    padding-bottom: 50px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1116px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-1 .u-image-1 {
    height: 329px;
    margin-left: 22px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 12px;
    margin-left: 22px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 6px;
    margin-left: auto;
  }

  .u-section-1 .u-image-4 {
    margin-top: 6px;
    margin-left: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 1812px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-7 {
    margin-top: -12px;
    margin-left: -8px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 109px;
}

.u-section-2 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2.25rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 16px auto 0;
}

.u-section-2 .u-line-1 {
  width: 354px;
  transform-origin: left center;
  margin: -39px auto 0 -19px;
}

.u-section-2 .u-line-2 {
  width: 349px;
  transform-origin: right center;
  margin: -3px -17px 52px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-line-1 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-line-2 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 103px;
  }

  .u-section-2 .u-btn-1 {
    font-size: 1.875rem;
    margin-top: 18px;
    margin-left: -21px;
    padding: 10px 18px 10px 17px;
  }

  .u-section-2 .u-line-1 {
    width: 47px;
    margin-top: -36px;
    margin-left: -50px;
  }

  .u-section-2 .u-line-2 {
    width: 49px;
    transform-origin: left center;
    margin-top: 0;
    margin-right: -49px;
    margin-bottom: 47px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 557px;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 537px;
  grid-gap: 0px;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-3 .u-image-1 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  margin: 21px -39px 0 0;
}

.u-section-3 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 19px auto 0 0;
  padding: 2px 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-3 .u-image-2 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.875rem;
  margin: 21px -39px 0 0;
}

.u-section-3 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 19px auto 0 0;
  padding: 2px 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-3 .u-image-3 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.875rem;
  margin: 21px -39px 0 0;
}

.u-section-3 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 19px auto 0 0;
  padding: 2px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 443px;
  }

  .u-section-3 .u-image-1 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-image-3 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 1018px;
  }

  .u-section-3 .u-image-1 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-3 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1447px;
  }

  .u-section-3 .u-image-1 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-image-2 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-image-3 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.5rem;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 435px;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto;
  width: 1109px;
  margin: 1px auto 1px 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 434px;
  grid-gap: 0px;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px 0;
}

.u-section-4 .u-image-1 {
  height: 213px;
  margin: 0 30px;
}

.u-section-4 .u-text-1 {
  font-size: 1.875rem;
  margin: 18px 0 0 30px;
}

.u-section-4 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 22px auto 0 30px;
  padding: 2px 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px 0;
}

.u-section-4 .u-image-2 {
  object-position: 50% 56.24%;
  height: 213px;
  margin: 0 30px;
}

.u-section-4 .u-text-2 {
  font-size: 1.875rem;
  margin: 18px 0 0 30px;
}

.u-section-4 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 22px auto 0 30px;
  padding: 2px 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 20px 0;
}

.u-section-4 .u-image-3 {
  object-position: 53.62% 45.32%;
  height: 213px;
  margin: 0 30px;
}

.u-section-4 .u-text-3 {
  font-size: 1.875rem;
  margin: 18px 0 0 30px;
}

.u-section-4 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 22px auto 0 30px;
  padding: 2px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-list-1 {
    width: 940px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 368px;
  }

  .u-section-4 .u-image-1 {
    height: 181px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-2 {
    height: 181px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-3 {
    height: 181px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-list-1 {
    width: 720px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 846px;
  }

  .u-section-4 .u-image-1 {
    height: 208px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-2 {
    height: 208px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-3 {
    height: 208px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-list-1 {
    width: 540px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-image-1 {
    height: 312px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-2 {
    height: 312px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-3 {
    height: 312px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-list-1 {
    width: 340px;
  }

  .u-section-4 .u-image-1 {
    height: 196px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-image-2 {
    height: 196px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-image-3 {
    height: 196px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.5rem;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 435px;
}

.u-section-5 .u-list-1 {
  grid-template-rows: auto;
  width: 1109px;
  margin: 1px auto 1px 0;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 434px;
  grid-gap: 0px;
}

.u-section-5 .u-container-layout-1 {
  padding: 20px 0;
}

.u-section-5 .u-image-1 {
  height: 213px;
  margin: 0 30px;
}

.u-section-5 .u-text-1 {
  font-size: 1.875rem;
  margin: 18px 0 0 30px;
}

.u-section-5 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 22px auto 0 30px;
  padding: 2px 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 20px 0;
}

.u-section-5 .u-image-2 {
  object-position: 50% 56.24%;
  height: 213px;
  margin: 0 30px;
}

.u-section-5 .u-text-2 {
  font-size: 1.875rem;
  margin: 18px 0 0 30px;
}

.u-section-5 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 22px auto 0 30px;
  padding: 2px 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 20px 0;
}

.u-section-5 .u-image-3 {
  object-position: 53.62% 6.38%;
  height: 213px;
  margin: 0 30px;
}

.u-section-5 .u-text-3 {
  font-size: 1.875rem;
  margin: 18px 0 0 30px;
}

.u-section-5 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 22px auto 0 30px;
  padding: 2px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-list-1 {
    width: 940px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 368px;
  }

  .u-section-5 .u-image-1 {
    height: 181px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-2 {
    height: 181px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-3 {
    height: 181px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-list-1 {
    width: 720px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 846px;
  }

  .u-section-5 .u-image-1 {
    height: 208px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-2 {
    height: 208px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-3 {
    height: 208px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-list-1 {
    width: 540px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-image-1 {
    height: 312px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-2 {
    height: 312px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-3 {
    height: 312px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-list-1 {
    width: 340px;
  }

  .u-section-5 .u-image-1 {
    height: 196px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-image-2 {
    height: 196px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-image-3 {
    height: 196px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.5rem;
  }
} .u-section-6 {
  min-height: 124px;
}

.u-section-6 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2.25rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 23px auto 0;
}

.u-section-6 .u-line-1 {
  width: calc(((100% - 1140px) / 2)  + 386px);
  transform-origin: left center;
  margin: -39px auto 0 0;
}

.u-section-6 .u-line-2 {
  width: calc(((100% - 1140px) / 2)  + 386px);
  transform-origin: left center;
  margin: -3px 0 59px auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-line-1 {
    width: calc(((100% - 940px) / 2) + 386px);
  }

  .u-section-6 .u-line-2 {
    width: calc(((100% - 940px) / 2) + 386px);
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-line-1 {
    width: calc(((100% - 720px) / 2)  + 239px);
  }

  .u-section-6 .u-line-2 {
    width: calc(((100% - 720px) / 2)  + 232px);
    transform-origin: right center;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-line-1 {
    width: calc(((100% - 540px) / 2)  + 239px);
  }

  .u-section-6 .u-line-2 {
    width: calc(((100% - 540px) / 2)  + 232px);
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 200px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 61px;
  }

  .u-section-6 .u-line-1 {
    width: calc(((100% - 340px) / 2)  + -19px);
    margin-bottom: 60px;
  }

  .u-section-6 .u-line-2 {
    width: 45px;
    left: auto;
    top: 100px;
    transform-origin: left center;
    position: absolute;
    right: 0;
    transform: rotate(360deg);
  }
} .u-section-7 {
  background-image: url("images/bg564.png");
  background-position: 48.48% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 1549px;
}

.u-section-7 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 8px 36px 0 78px;
}

.u-section-7 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  background-image: none;
  font-weight: 700;
  margin: 22px 22px 0;
}

.u-section-7 .u-text-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  width: 173px;
  margin: 105px auto 0;
}

.u-section-7 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

.u-section-7 .u-gallery-1 {
  height: 1138px;
  margin-top: -98px;
  margin-bottom: 60px;
  grid-gap: 17px;
}

.u-section-7 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 41px;
}

.u-section-7 .u-text-4 {
  box-sizing: border-box;
  top: 2111px;
  left: 50px;
  width: 374px;
  height: 28px;
  opacity: 0.8;
  position: fixed;
  z-index: 100000;
  pointer-events: none;
  transform-origin: 64.0374% 49.5034% 0px;
  margin: 0;
}

.u-section-7 .u-gallery-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-gallery-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-gallery-item-9 {
  margin-bottom: 0;
}

.u-section-7 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-text-5 {
  box-sizing: border-box;
  top: 2672px;
  left: 50px;
  width: 374px;
  height: 28px;
  opacity: 0.8;
  position: fixed;
  z-index: 100000;
  pointer-events: none;
  transform-origin: 65.6417% 38.5588% 0px;
  transform: matrix(1, 0, 0, 1, 235.555, -65.5557);
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1077px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 49px;
    margin-right: 49px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7 .u-gallery-1 {
    height: 938px;
  }

  .u-section-7 .u-text-4 {
    transform: matrix(1, 0, 0, 1, 259.997, 166.666);
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1961px;
  }

  .u-section-7 .u-gallery-1 {
    height: 1822px;
  }

  .u-section-7 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 5125px;
  }

  .u-section-7 .u-text-3 {
    margin-top: 82px;
  }

  .u-section-7 .u-gallery-1 {
    height: 4986px;
  }

  .u-section-7 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 3947px;
  }

  .u-section-7 .u-text-1 {
    width: 242px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-text-3 {
    margin-top: 76px;
  }

  .u-section-7 .u-gallery-1 {
    height: 3190px;
  }
}