.u-section-1 .u-sheet-1 {
  min-height: 691px;
}

.u-section-1 .u-image-1 {
  object-position: 42.83% 51.92%;
  height: 681px;
  width: 1175px;
  margin: 22px auto 0 -15px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 555px;
  }

  .u-section-1 .u-image-1 {
    width: 940px;
    height: 545px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 427px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 417px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 323px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 313px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 207px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 197px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 655px;
}

.u-section-2 .u-image-1 {
  width: 1154px;
  height: 620px;
  margin: 11px auto 24px -14px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 544px;
  }

  .u-section-2 .u-image-1 {
    width: 940px;
    height: 505px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 404px;
  }

  .u-section-2 .u-image-1 {
    width: 720px;
    height: 387px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 290px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 290px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 163px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 183px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 648px;
}

.u-section-3 .u-image-1 {
  width: 1164px;
  height: 647px;
  margin: 1px -12px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 576px;
  }

  .u-section-3 .u-image-1 {
    width: 940px;
    height: 522px;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 441px;
  }

  .u-section-3 .u-image-1 {
    width: 720px;
    height: 400px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 331px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 300px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 208px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 189px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 637px;
}

.u-section-4 .u-image-1 {
  width: 1143px;
  height: 619px;
  margin: 9px -3px 9px auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 527px;
  }

  .u-section-4 .u-image-1 {
    width: 940px;
    height: 509px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 408px;
  }

  .u-section-4 .u-image-1 {
    width: 720px;
    height: 390px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 311px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 293px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 202px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 184px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 637px;
}

.u-section-5 .u-image-1 {
  width: 1143px;
  height: 619px;
  margin: 9px -3px 9px auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 527px;
  }

  .u-section-5 .u-image-1 {
    width: 940px;
    height: 509px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 408px;
  }

  .u-section-5 .u-image-1 {
    width: 720px;
    height: 390px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 311px;
  }

  .u-section-5 .u-image-1 {
    width: 540px;
    height: 293px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 202px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 184px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 637px;
}

.u-section-6 .u-image-1 {
  height: 610px;
  margin-top: 14px;
  margin-bottom: 14px;
}.u-section-7 .u-sheet-1 {
  min-height: 637px;
}

.u-section-7 .u-image-1 {
  height: 617px;
  margin-top: 2px;
  margin-bottom: 18px;
}.u-section-8 .u-sheet-1 {
  min-height: 637px;
}

.u-section-8 .u-image-1 {
  width: 1161px;
  height: 624px;
  margin: 0 -10px 13px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 642px;
  }

  .u-section-8 .u-image-1 {
    width: 940px;
    height: 505px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-image-1 {
    width: 720px;
    height: 387px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-image-1 {
    width: 540px;
    height: 290px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-image-1 {
    width: 340px;
    height: 183px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 629px;
}

.u-section-9 .u-image-1 {
  height: 625px;
  margin-top: 2px;
  margin-bottom: 2px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 652px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 642px;
}

.u-section-10 .u-image-1 {
  margin-top: 12px;
  margin-bottom: 12px;
  height: 619px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 544px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 417px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 313px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 197px;
  }
} .u-section-11 {
  background-image: url("images/pp9.png");
  background-position: 50% 50%;
}

.u-section-11 .u-sheet-1 {
  min-height: 632px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 533px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 408px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 306px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 193px;
  }
}