.u-section-1 .u-sheet-1 {
  min-height: 703px;
}

.u-section-1 .u-image-1 {
  object-position: 42.83% 51.92%;
  height: 681px;
  width: 1175px;
  margin: 23px -17px -1px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 567px;
  }

  .u-section-1 .u-image-1 {
    width: 940px;
    height: 545px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 439px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 417px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 335px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 313px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 219px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 197px;
  }
<<<<<<< HEAD
} .u-section-2 {
=======
}.u-section-2 .u-sheet-1 {
>>>>>>> 77a2cc184da70248e62c6b7448403b7c55e15d03
  min-height: 720px;
}

.u-section-2 .u-text-1 {
  margin: 1px auto 0;
}

<<<<<<< HEAD
.u-section-2 .u-line-1 {
  width: calc(((100% - 1140px) / 2)  + 437px);
  transform-origin: left center;
  margin: -26px 0 0 auto;
}

.u-section-2 .u-line-2 {
  width: calc(((100% - 1140px) / 2)  + 425px);
  transform-origin: left center;
  margin: -1px auto 0 0;
}

.u-section-2 .u-gallery-1 {
  height: 586px;
  width: 1140px;
  grid-gap: 17px;
  margin: 34px auto 0;
=======
.u-section-2 .u-gallery-1 {
  height: 586px;
  margin-top: 13px;
  margin-bottom: 0;
  grid-gap: 17px;
>>>>>>> 77a2cc184da70248e62c6b7448403b7c55e15d03
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-text-2 {
<<<<<<< HEAD
  margin: -299px auto 0 calc(((100% - 1140px) / 2)  + 39px);
}

.u-section-2 .u-text-3 {
  margin: -49px auto 0 calc(((100% - 1140px) / 2)  + 426px);
}

.u-section-2 .u-text-4 {
  margin: -16px 123px 0 calc(((100% - 1140px) / 2)  + 894px);
}

.u-section-2 .u-text-5 {
  margin: 264px 67px 0 calc(((100% - 1140px) / 2)  + 838px);
=======
  margin: -299px auto 0 39px;
}

.u-section-2 .u-text-3 {
  margin: -49px auto 0 426px;
}

.u-section-2 .u-text-4 {
  margin: -16px 123px 0 auto;
}

.u-section-2 .u-text-5 {
  margin: 264px 67px 0 auto;
>>>>>>> 77a2cc184da70248e62c6b7448403b7c55e15d03
}

.u-section-2 .u-text-6 {
  margin: -43px auto 0;
}

.u-section-2 .u-text-7 {
<<<<<<< HEAD
  margin: -28px auto 37px calc(((100% - 1140px) / 2));
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 617px;
  }

  .u-section-2 .u-line-1 {
    width: calc(((100% - 940px) / 2) + 437px);
    margin-top: 58px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-line-2 {
    width: calc(((100% - 940px) / 2)  + 170px);
  }

  .u-section-2 .u-gallery-1 {
    height: 483px;
    width: 940px;
    margin-top: -55px;
    margin-left: calc(((100% - 940px) / 2));
=======
  margin: -28px auto 37px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 617px;
  }

  .u-section-2 .u-gallery-1 {
    height: 483px;
>>>>>>> 77a2cc184da70248e62c6b7448403b7c55e15d03
  }

  .u-section-2 .u-text-2 {
    margin-top: -196px;
<<<<<<< HEAD
    margin-left: calc(((100% - 940px) / 2)  + 39px);
  }

  .u-section-2 .u-text-3 {
    margin-left: calc(((100% - 940px) / 2)  + 351px);
  }

  .u-section-2 .u-text-4 {
    margin-left: calc(((100% - 940px) / 2)  + 694px);
=======
  }

  .u-section-2 .u-text-3 {
    margin-left: 351px;
>>>>>>> 77a2cc184da70248e62c6b7448403b7c55e15d03
  }

  .u-section-2 .u-text-5 {
    margin-top: 377px;
<<<<<<< HEAD
    margin-left: calc(((100% - 940px) / 2)  + 638px);
=======
>>>>>>> 77a2cc184da70248e62c6b7448403b7c55e15d03
  }

  .u-section-2 .u-text-6 {
    margin-top: -106px;
  }

  .u-section-2 .u-text-7 {
    margin-top: -49px;
<<<<<<< HEAD
    margin-bottom: -95px;
    margin-left: calc(((100% - 940px) / 2));
=======
    margin-bottom: 60px;
>>>>>>> 77a2cc184da70248e62c6b7448403b7c55e15d03
  }
}

@media (max-width: 991px) {
<<<<<<< HEAD
   .u-section-2 {
    min-height: 982px;
  }

  .u-section-2 .u-line-1 {
    width: calc(((100% - 720px) / 2) + 437px);
    margin-top: -201px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-line-2 {
    width: calc(((100% - 720px) / 2)  + 170px);
  }

  .u-section-2 .u-gallery-1 {
    height: 848px;
    width: 720px;
    margin-top: 204px;
    margin-left: calc(((100% - 720px) / 2));
=======
  .u-section-2 .u-sheet-1 {
    min-height: 982px;
  }

  .u-section-2 .u-gallery-1 {
    height: 848px;
>>>>>>> 77a2cc184da70248e62c6b7448403b7c55e15d03
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-2 .u-text-2 {
    margin-top: -561px;
<<<<<<< HEAD
    margin-left: calc(((100% - 720px) / 2)  + 39px);
  }

  .u-section-2 .u-text-3 {
    margin-left: calc(((100% - 720px) / 2)  + 269px);
  }

  .u-section-2 .u-text-4 {
    margin-left: calc(((100% - 720px) / 2)  + 474px);
=======
  }

  .u-section-2 .u-text-3 {
    margin-left: 269px;
>>>>>>> 77a2cc184da70248e62c6b7448403b7c55e15d03
  }

  .u-section-2 .u-text-5 {
    margin-top: 118px;
<<<<<<< HEAD
    margin-left: calc(((100% - 720px) / 2)  + 418px);
  }

  .u-section-2 .u-text-7 {
    margin-bottom: 60px;
    margin-left: calc(((100% - 720px) / 2));
=======
>>>>>>> 77a2cc184da70248e62c6b7448403b7c55e15d03
  }
}

@media (max-width: 767px) {
<<<<<<< HEAD
   .u-section-2 {
    min-height: 2720px;
  }

  .u-section-2 .u-line-1 {
    width: calc(((100% - 540px) / 2) + 437px);
    margin-top: -219px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-line-2 {
    width: calc(((100% - 540px) / 2)  + 170px);
  }

  .u-section-2 .u-gallery-1 {
    height: 2586px;
    width: 540px;
    margin-top: 222px;
    margin-left: calc(((100% - 540px) / 2));
=======
  .u-section-2 .u-sheet-1 {
    min-height: 2720px;
  }

  .u-section-2 .u-gallery-1 {
    height: 2586px;
>>>>>>> 77a2cc184da70248e62c6b7448403b7c55e15d03
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-2 .u-text-2 {
    margin-top: -2299px;
<<<<<<< HEAD
    margin-left: calc(((100% - 540px) / 2)  + 39px);
  }

  .u-section-2 .u-text-3 {
    margin-left: calc(((100% - 540px) / 2)  + 202px);
  }

  .u-section-2 .u-text-4 {
    margin-left: calc(((100% - 540px) / 2)  + 308px);
=======
  }

  .u-section-2 .u-text-3 {
    margin-left: 202px;
>>>>>>> 77a2cc184da70248e62c6b7448403b7c55e15d03
  }

  .u-section-2 .u-text-5 {
    margin-top: 111px;
<<<<<<< HEAD
    margin-left: calc(((100% - 540px) / 2)  + 264px);
=======
>>>>>>> 77a2cc184da70248e62c6b7448403b7c55e15d03
  }

  .u-section-2 .u-text-6 {
    margin-top: -97px;
  }

  .u-section-2 .u-text-7 {
    margin-top: -46px;
<<<<<<< HEAD
    margin-left: calc(((100% - 540px) / 2));
=======
>>>>>>> 77a2cc184da70248e62c6b7448403b7c55e15d03
  }
}

@media (max-width: 575px) {
<<<<<<< HEAD
   .u-section-2 {
    min-height: 1794px;
=======
  .u-section-2 .u-sheet-1 {
    min-height: 1366px;
>>>>>>> 77a2cc184da70248e62c6b7448403b7c55e15d03
  }

  .u-section-2 .u-text-1 {
    margin-top: 13px;
  }

<<<<<<< HEAD
  .u-section-2 .u-line-1 {
    width: 132px;
    margin-top: -16px;
    margin-right: 0;
  }

  .u-section-2 .u-line-2 {
    width: calc(((100% - 340px) / 2)  + 85px);
    margin-top: -3px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1660px;
    width: 340px;
    margin-top: 22px;
    margin-left: calc(((100% - 340px) / 2));
=======
  .u-section-2 .u-gallery-1 {
    height: 1660px;
>>>>>>> 77a2cc184da70248e62c6b7448403b7c55e15d03
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -1401px;
    margin-left: auto;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 238px;
    margin-left: auto;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 278px;
<<<<<<< HEAD
    margin-left: auto;
=======
>>>>>>> 77a2cc184da70248e62c6b7448403b7c55e15d03
    margin-right: auto;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 809px;
<<<<<<< HEAD
    margin-right: 23px;
    margin-left: calc(((100% - 340px) / 2)  + 23px);
=======
    margin-left: 23px;
    margin-right: 23px;
>>>>>>> 77a2cc184da70248e62c6b7448403b7c55e15d03
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: -329px;
<<<<<<< HEAD
    margin-right: -7px;
    margin-left: calc(((100% - 340px) / 2)  + -7px);
=======
    margin-left: -7px;
    margin-right: -7px;
>>>>>>> 77a2cc184da70248e62c6b7448403b7c55e15d03
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: -318px;
    margin-right: 0;
<<<<<<< HEAD
    margin-left: calc(((100% - 340px) / 2)  + 17px);
=======
    margin-left: 17px;
>>>>>>> 77a2cc184da70248e62c6b7448403b7c55e15d03
  }
}.u-section-3 .u-sheet-1 {
  min-height: 816px;
}

.u-section-3 .u-gallery-1 {
  height: 289px;
  grid-gap: 17px;
  margin: 33px 0 0;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-text-1 {
  margin: 0 auto 0 66px;
}

.u-section-3 .u-text-2 {
  margin: -29px auto 0 437px;
}

.u-section-3 .u-image-1 {
  width: 1036px;
  height: 437px;
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  font-size: 1.875rem;
  margin: -400px auto 60px 66px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 724px;
  }

  .u-section-3 .u-gallery-1 {
    height: 237px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-2 {
    margin-left: 360px;
  }

  .u-section-3 .u-image-1 {
    width: 940px;
    height: 397px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -360px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 963px;
  }

  .u-section-3 .u-gallery-1 {
    height: 569px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-3 .u-text-2 {
    margin-left: 276px;
  }

  .u-section-3 .u-image-1 {
    width: 720px;
    height: 304px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -267px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1624px;
  }

  .u-section-3 .u-gallery-1 {
    height: 1306px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-3 .u-text-2 {
    margin-left: 207px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 228px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -191px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
<<<<<<< HEAD
    min-height: 1045px;
=======
    min-height: 1434px;
>>>>>>> 77a2cc184da70248e62c6b7448403b7c55e15d03
  }

  .u-section-3 .u-gallery-1 {
    height: 835px;
<<<<<<< HEAD
    margin-top: 10px;
=======
    margin-top: 399px;
>>>>>>> 77a2cc184da70248e62c6b7448403b7c55e15d03
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: -571px;
    margin-left: auto;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 288px;
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-3 .u-image-1 {
    width: 390px;
    height: 225px;
    margin-top: 169px;
    margin-left: -25px;
    margin-right: -25px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: -225px;
    margin-left: -37px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 649px;
}

.u-section-4 .u-image-1 {
  width: 1136px;
  height: 639px;
  margin: 10px -21px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 576px;
  }

  .u-section-4 .u-image-1 {
    width: 940px;
    height: 529px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 441px;
  }

  .u-section-4 .u-image-1 {
    width: 720px;
    height: 405px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 331px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 304px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 227px;
  }

  .u-section-4 .u-image-1 {
    height: 209px;
    width: 372px;
    margin: 9px -16px;
  }
} .u-section-5 {
  min-height: 718px;
}

.u-section-5 .u-line-1 {
  width: calc(((100% - 1140px) / 2)  + 228px);
  transform-origin: right center;
  margin: 61px 0 0 auto;
}

.u-section-5 .u-line-2 {
  width: calc(((100% - 1140px) / 2)  + 220px);
  transform-origin: left center;
  margin: 4px auto 0 0;
}

.u-section-5 .u-text-1 {
  font-weight: 400;
  margin: -35px auto 0;
}

.u-section-5 .u-image-1 {
  width: 1157px;
  height: 621px;
  margin: 0 calc(((100% - 1140px) / 2)  + -17px) 8px auto;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 601px;
  }

  .u-section-5 .u-line-1 {
    width: calc(((100% - 940px) / 2)  + 248px);
    height: 3px;
  }

  .u-section-5 .u-line-2 {
    width: calc(((100% - 940px) / 2)  + 248px);
  }

  .u-section-5 .u-text-1 {
    margin-top: 20px;
    margin-left: calc(((100% - 940px) / 2)  + 228px);
<<<<<<< HEAD
    font-size: 3rem;
=======
>>>>>>> 77a2cc184da70248e62c6b7448403b7c55e15d03
  }

  .u-section-5 .u-image-1 {
    width: 940px;
    height: 504px;
    margin-top: 72px;
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 483px;
  }

  .u-section-5 .u-line-1 {
    width: calc(((100% - 720px) / 2)  + 248px);
  }

  .u-section-5 .u-line-2 {
    width: calc(((100% - 720px) / 2)  + 248px);
  }

  .u-section-5 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2)  + 228px);
  }

  .u-section-5 .u-image-1 {
    width: 720px;
    height: 386px;
    margin-top: 19px;
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 387px;
  }

  .u-section-5 .u-line-1 {
    width: calc(((100% - 540px) / 2)  + 248px);
  }

  .u-section-5 .u-line-2 {
    width: calc(((100% - 540px) / 2)  + 248px);
  }

  .u-section-5 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2)  + 171px);
<<<<<<< HEAD
    font-size: 2.25rem;
=======
>>>>>>> 77a2cc184da70248e62c6b7448403b7c55e15d03
  }

  .u-section-5 .u-image-1 {
    width: 540px;
    height: 290px;
    margin-top: 46px;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-5 {
<<<<<<< HEAD
    min-height: 228px;
=======
    min-height: 273px;
>>>>>>> 77a2cc184da70248e62c6b7448403b7c55e15d03
  }

  .u-section-5 .u-line-1 {
    width: 71px;
<<<<<<< HEAD
    margin-top: 17px;
    height: auto;
=======
    margin-top: 8px;
>>>>>>> 77a2cc184da70248e62c6b7448403b7c55e15d03
  }

  .u-section-5 .u-line-2 {
    width: calc(((100% - 340px) / 2)  + 26px);
<<<<<<< HEAD
    margin-top: -3px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.25rem;
    width: auto;
    margin-top: -14px;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2)  + 35px);
=======
    margin-top: -4px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: -33px;
    margin-right: 71px;
    margin-left: calc(((100% - 340px) / 2)  + 36px);
>>>>>>> 77a2cc184da70248e62c6b7448403b7c55e15d03
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 183px;
<<<<<<< HEAD
    margin-top: 9px;
    margin-left: auto;
    margin-right: auto;
=======
    margin: 9px auto -24px;
>>>>>>> 77a2cc184da70248e62c6b7448403b7c55e15d03
  }
}.u-section-6 .u-sheet-1 {
  min-height: 637px;
}

.u-section-6 .u-image-1 {
  width: 1143px;
  height: 619px;
  margin: 9px -3px 9px auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 527px;
  }

  .u-section-6 .u-image-1 {
    width: 940px;
    height: 509px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 408px;
  }

  .u-section-6 .u-image-1 {
    width: 720px;
    height: 390px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 311px;
  }

  .u-section-6 .u-image-1 {
    width: 540px;
    height: 293px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 202px;
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 184px;
  }
<<<<<<< HEAD
} .u-section-7 {
  min-height: 708px;
}

.u-section-7 .u-text-1 {
  font-weight: 400;
  font-size: 3rem;
  margin: 12px auto 0 calc(((100% - 1140px) / 2)  + 203px);
}

.u-section-7 .u-line-1 {
  width: 254px;
  transform-origin: left center;
  margin: -28px calc(((100% - 1140px) / 2)  + -51px) 0 auto;
}

.u-section-7 .u-line-2 {
  width: calc(((100% - 1140px) / 2)  + 195px);
  transform-origin: right center;
  margin: 4px auto 0 0;
=======
}.u-section-7 .u-sheet-1 {
  min-height: 636px;
>>>>>>> 77a2cc184da70248e62c6b7448403b7c55e15d03
}

.u-section-7 .u-image-1 {
  width: 1146px;
  height: 619px;
<<<<<<< HEAD
  margin: 30px calc(((100% - 1140px) / 2)  + -6px) 0 auto;
}

.u-section-7 .u-text-2 {
  font-weight: 700;
  text-decoration: underline !important;
  margin: -508px auto 60px calc(((100% - 1140px) / 2)  + 380px);
=======
  margin: 9px -3px 0;
}

.u-section-7 .u-text-1 {
  text-decoration: underline !important;
  font-weight: 700;
  margin: -508px auto 489px 374px;
>>>>>>> 77a2cc184da70248e62c6b7448403b7c55e15d03
}

.u-section-7 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
<<<<<<< HEAD
   .u-section-7 {
    min-height: 597px;
  }

  .u-section-7 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2)  + 203px);
  }

  .u-section-7 .u-line-1 {
    margin-top: 20px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-7 .u-line-2 {
    width: calc(((100% - 940px) / 2)  + 195px);
=======
  .u-section-7 .u-sheet-1 {
    min-height: 525px;
>>>>>>> 77a2cc184da70248e62c6b7448403b7c55e15d03
  }

  .u-section-7 .u-image-1 {
    width: 940px;
    height: 508px;
<<<<<<< HEAD
    margin-right: auto;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-7 .u-text-2 {
    margin-top: -397px;
    margin-left: calc(((100% - 940px) / 2)  + 308px);
=======
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7 .u-text-1 {
    margin-top: -397px;
    margin-left: 308px;
>>>>>>> 77a2cc184da70248e62c6b7448403b7c55e15d03
  }
}

@media (max-width: 991px) {
<<<<<<< HEAD
   .u-section-7 {
    min-height: 519px;
  }

  .u-section-7 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2)  + 203px);
  }

  .u-section-7 .u-line-1 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-7 .u-line-2 {
    width: calc(((100% - 720px) / 2)  + 195px);
=======
  .u-section-7 .u-sheet-1 {
    min-height: 406px;
>>>>>>> 77a2cc184da70248e62c6b7448403b7c55e15d03
  }

  .u-section-7 .u-image-1 {
    width: 720px;
    height: 389px;
<<<<<<< HEAD
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-7 .u-text-2 {
    margin-top: -278px;
    margin-left: calc(((100% - 720px) / 2)  + 236px);
=======
  }

  .u-section-7 .u-text-1 {
    margin-top: -278px;
    margin-left: 236px;
>>>>>>> 77a2cc184da70248e62c6b7448403b7c55e15d03
  }
}

@media (max-width: 767px) {
<<<<<<< HEAD
   .u-section-7 {
    min-height: 395px;
  }

  .u-section-7 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2)  + 152px);
    font-size: 2.25rem;
  }

  .u-section-7 .u-line-1 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-7 .u-line-2 {
    width: calc(((100% - 540px) / 2)  + 195px);
=======
  .u-section-7 .u-sheet-1 {
    min-height: 309px;
>>>>>>> 77a2cc184da70248e62c6b7448403b7c55e15d03
  }

  .u-section-7 .u-image-1 {
    width: 540px;
    height: 292px;
<<<<<<< HEAD
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-7 .u-text-2 {
    margin-top: -181px;
    margin-left: calc(((100% - 540px) / 2)  + 177px);
=======
  }

  .u-section-7 .u-text-1 {
    margin-top: -181px;
    margin-bottom: 60px;
    margin-left: 177px;
>>>>>>> 77a2cc184da70248e62c6b7448403b7c55e15d03
  }
}

@media (max-width: 575px) {
<<<<<<< HEAD
   .u-section-7 {
    min-height: 231px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.25rem;
    width: auto;
    margin-top: -3px;
    margin-right: calc(((100% - 340px) / 2)  + -34px);
    margin-left: calc(((100% - 340px) / 2)  + 29px);
  }

  .u-section-7 .u-line-1 {
    width: 68px;
    transform-origin: right center;
    margin-top: -14px;
    margin-right: 0;
  }

  .u-section-7 .u-line-2 {
    width: calc(((100% - 340px) / 2)  + 29px);
    transform-origin: left center;
    margin-top: -3px;
=======
  .u-section-7 .u-sheet-1 {
    min-height: 206px;
>>>>>>> 77a2cc184da70248e62c6b7448403b7c55e15d03
  }

  .u-section-7 .u-image-1 {
    width: 340px;
    height: 184px;
<<<<<<< HEAD
    margin-top: 39px;
    margin-left: auto;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-top: -210px;
    margin-left: calc(((100% - 340px) / 2));
=======
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: -202px;
    margin-left: 0;
>>>>>>> 77a2cc184da70248e62c6b7448403b7c55e15d03
  }
}.u-section-8 .u-sheet-1 {
  min-height: 973px;
}

.u-section-8 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 15px auto 0 0;
}

.u-section-8 .u-image-1 {
  width: 1127px;
  height: 906px;
  margin: 0 auto 15px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 823px;
  }

  .u-section-8 .u-image-1 {
    width: 940px;
    height: 756px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 646px;
  }

  .u-section-8 .u-image-1 {
    width: 720px;
    height: 579px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 501px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-8 .u-image-1 {
    width: 540px;
    height: 434px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 340px;
  }

  .u-section-8 .u-image-1 {
    width: 340px;
    height: 273px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 597px;
}

.u-section-9 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 12px auto 0 0;
}

.u-section-9 .u-video-1 {
  height: 500px;
  margin-top: 10px;
  margin-bottom: 37px;
}

.u-section-9 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-9 .u-video-1 {
    margin-top: 26px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-text-1 {
    margin-top: -84px;
  }

  .u-section-9 .u-video-1 {
    height: 404px;
    margin-top: 122px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-text-1 {
    font-size: 1rem;
    margin-top: -178px;
  }

  .u-section-9 .u-video-1 {
    height: 310px;
    margin-top: 229px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 300px;
  }

  .u-section-9 .u-text-1 {
    width: auto;
    margin-top: 14px;
    margin-right: 0;
  }

  .u-section-9 .u-video-1 {
    height: 200px;
    margin-top: 12px;
    margin-bottom: 23px;
  }
<<<<<<< HEAD
} .u-section-10 {
  min-height: 705px;
}

.u-section-10 .u-text-1 {
  font-weight: 400;
  font-size: 3rem;
  margin: 13px auto 0;
}

.u-section-10 .u-line-1 {
  width: 253px;
  transform-origin: right center;
  margin: -28px 0 0 auto;
}

.u-section-10 .u-line-2 {
  width: calc(((100% - 1140px) / 2)  + 187px);
  transform-origin: left center;
  margin: 4px auto 0 0;
=======
}.u-section-10 .u-sheet-1 {
  min-height: 637px;
>>>>>>> 77a2cc184da70248e62c6b7448403b7c55e15d03
}

.u-section-10 .u-image-1 {
  width: 1143px;
  height: 619px;
<<<<<<< HEAD
  margin: 28px calc(((100% - 1140px) / 2)  + -3px) 0 auto;
}

.u-section-10 .u-text-2 {
  font-weight: 700;
  text-decoration: underline !important;
  margin: -619px 144px 60px calc(((100% - 1140px) / 2)  + 772px);
=======
  margin: 9px -3px 0 auto;
}

.u-section-10 .u-text-1 {
  font-weight: 700;
  text-decoration: underline !important;
  margin: -552px 144px 533px auto;
>>>>>>> 77a2cc184da70248e62c6b7448403b7c55e15d03
}

.u-section-10 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
<<<<<<< HEAD
   .u-section-10 {
    min-height: 595px;
  }

  .u-section-10 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2)  + 228px);
  }

  .u-section-10 .u-line-1 {
    width: calc(((100% - 940px) / 2)  + 178px);
    margin-top: 20px;
  }

  .u-section-10 .u-line-2 {
    width: calc(((100% - 940px) / 2) + 187px);
    margin-left: calc(((100% - 940px) / 2));
=======
  .u-section-10 .u-sheet-1 {
    min-height: 527px;
>>>>>>> 77a2cc184da70248e62c6b7448403b7c55e15d03
  }

  .u-section-10 .u-image-1 {
    width: 940px;
    height: 509px;
<<<<<<< HEAD
    margin-right: auto;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-10 .u-text-2 {
    margin-top: -509px;
    margin-left: calc(((100% - 940px) / 2)  + 572px);
=======
    margin-right: 0;
  }

  .u-section-10 .u-text-1 {
    margin-top: -442px;
>>>>>>> 77a2cc184da70248e62c6b7448403b7c55e15d03
  }
}

@media (max-width: 991px) {
<<<<<<< HEAD
   .u-section-10 {
    min-height: 518px;
  }

  .u-section-10 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2)  + 228px);
  }

  .u-section-10 .u-line-1 {
    width: calc(((100% - 720px) / 2)  + 178px);
  }

  .u-section-10 .u-line-2 {
    width: calc(((100% - 720px) / 2) + 187px);
    margin-left: calc(((100% - 720px) / 2));
=======
  .u-section-10 .u-sheet-1 {
    min-height: 408px;
>>>>>>> 77a2cc184da70248e62c6b7448403b7c55e15d03
  }

  .u-section-10 .u-image-1 {
    width: 720px;
    height: 390px;
<<<<<<< HEAD
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-10 .u-text-2 {
    margin-top: -390px;
    margin-left: calc(((100% - 720px) / 2)  + 352px);
=======
  }

  .u-section-10 .u-text-1 {
    margin-top: -323px;
>>>>>>> 77a2cc184da70248e62c6b7448403b7c55e15d03
  }
}

@media (max-width: 767px) {
<<<<<<< HEAD
   .u-section-10 {
    min-height: 395px;
  }

  .u-section-10 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2)  + 171px);
    font-size: 2.25rem;
  }

  .u-section-10 .u-line-1 {
    width: calc(((100% - 540px) / 2)  + 178px);
  }

  .u-section-10 .u-line-2 {
    width: calc(((100% - 540px) / 2) + 187px);
    margin-left: calc(((100% - 540px) / 2));
=======
  .u-section-10 .u-sheet-1 {
    min-height: 311px;
>>>>>>> 77a2cc184da70248e62c6b7448403b7c55e15d03
  }

  .u-section-10 .u-image-1 {
    width: 540px;
    height: 293px;
<<<<<<< HEAD
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-10 .u-text-2 {
    margin-top: -293px;
    margin-left: calc(((100% - 540px) / 2)  + 197px);
=======
  }

  .u-section-10 .u-text-1 {
    margin-top: -226px;
    margin-bottom: 60px;
>>>>>>> 77a2cc184da70248e62c6b7448403b7c55e15d03
  }
}

@media (max-width: 575px) {
<<<<<<< HEAD
   .u-section-10 {
    min-height: 268px;
  }

  .u-section-10 .u-text-1 {
    font-size: 1.25rem;
    width: 294px;
    margin-top: 7px;
    margin-left: auto;
  }

  .u-section-10 .u-line-1 {
    width: 77px;
    margin-top: -13px;
    margin-right: calc(((100% - 340px) / 2)  + -58px);
  }

  .u-section-10 .u-line-2 {
    width: calc(((100% - 340px) / 2)  + 26px);
    margin-top: -3px;
    margin-left: 0;
=======
  .u-section-10 .u-sheet-1 {
    min-height: 230px;
>>>>>>> 77a2cc184da70248e62c6b7448403b7c55e15d03
  }

  .u-section-10 .u-image-1 {
    width: 340px;
    height: 184px;
<<<<<<< HEAD
    margin-top: 38px;
    margin-left: auto;
  }

  .u-section-10 .u-text-2 {
    width: auto;
    margin-top: -205px;
    margin-right: auto;
    margin-left: calc(((100% - 340px) / 2)  + -29px);
=======
    margin-top: 23px;
  }

  .u-section-10 .u-text-1 {
    width: auto;
    margin-top: -207px;
    margin-right: auto;
    margin-left: 0;
>>>>>>> 77a2cc184da70248e62c6b7448403b7c55e15d03
  }
}.u-section-11 .u-sheet-1 {
  min-height: 592px;
}

.u-section-11 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 13px auto 0 0;
}

.u-section-11 .u-video-1 {
  height: 500px;
  margin-top: 9px;
  margin-bottom: 32px;
}

.u-section-11 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-11 .u-text-1 {
    margin-top: 12px;
  }

  .u-section-11 .u-video-1 {
    margin-top: 26px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-text-1 {
    margin-top: -84px;
  }

  .u-section-11 .u-video-1 {
    height: 404px;
    margin-top: 122px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-text-1 {
    font-size: 1rem;
    margin-top: -178px;
  }

  .u-section-11 .u-video-1 {
    height: 310px;
    margin-top: 229px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 267px;
  }

  .u-section-11 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-right: -11px;
    margin-left: auto;
  }

  .u-section-11 .u-video-1 {
    height: 200px;
    margin-top: 0;
    margin-bottom: 16px;
  }
<<<<<<< HEAD
} .u-section-12 {
  min-height: 1016px;
}

.u-section-12 .u-text-1 {
  font-weight: 400;
  font-size: 3rem;
  margin: 18px calc(((100% - 1140px) / 2)  + -18px) 0 calc(((100% - 1140px) / 2)  + 48px);
}

.u-section-12 .u-line-1 {
  width: 82px;
  transform-origin: right center;
  margin: -28px 0 0 auto;
}

.u-section-12 .u-line-2 {
  width: calc(((100% - 1140px) / 2)  + 40px);
  transform-origin: left center;
  margin: -6px auto 0 0;
=======
}.u-section-12 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-12 .u-text-1 {
  font-weight: 700;
  margin: 0 auto 0 12px;
>>>>>>> 77a2cc184da70248e62c6b7448403b7c55e15d03
}

.u-section-12 .u-image-1 {
  width: 1143px;
  height: 905px;
  object-position: 50% 43.43%;
<<<<<<< HEAD
  margin: 50px auto 18px;
}

@media (max-width: 1199px) {
   .u-section-12 {
    min-height: 855px;
  }

  .u-section-12 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2)  + 178px);
  }

  .u-section-12 .u-line-1 {
    width: calc(((100% - 940px) / 2)  + -2px);
  }

  .u-section-12 .u-line-2 {
    width: calc(((100% - 940px) / 2)  + 170px);
  }

  .u-section-12 .u-image-1 {
    width: 940px;
    height: 744px;
    margin-right: calc(((100% - 940px) / 2));
=======
  margin: 30px -3px 31px auto;
}

@media (max-width: 1199px) {
  .u-section-12 .u-image-1 {
    width: 940px;
    height: 744px;
    margin-right: 0;
>>>>>>> 77a2cc184da70248e62c6b7448403b7c55e15d03
  }
}

@media (max-width: 991px) {
<<<<<<< HEAD
   .u-section-12 {
    min-height: 681px;
  }

  .u-section-12 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2)  + 178px);
  }

  .u-section-12 .u-line-1 {
    width: 82px;
  }

  .u-section-12 .u-line-2 {
    width: calc(((100% - 720px) / 2)  + 170px);
  }

  .u-section-12 .u-image-1 {
    width: 720px;
    height: 570px;
    margin-right: calc(((100% - 720px) / 2));
=======
  .u-section-12 .u-image-1 {
    width: 720px;
    height: 570px;
>>>>>>> 77a2cc184da70248e62c6b7448403b7c55e15d03
  }
}

@media (max-width: 767px) {
<<<<<<< HEAD
   .u-section-12 {
    min-height: 539px;
  }

  .u-section-12 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2)  + 178px);
    font-size: 2.25rem;
  }

  .u-section-12 .u-line-2 {
    width: calc(((100% - 540px) / 2)  + 170px);
=======
  .u-section-12 .u-text-1 {
    margin-top: 60px;
>>>>>>> 77a2cc184da70248e62c6b7448403b7c55e15d03
  }

  .u-section-12 .u-image-1 {
    width: 540px;
    height: 428px;
<<<<<<< HEAD
    margin-right: calc(((100% - 540px) / 2));
=======
>>>>>>> 77a2cc184da70248e62c6b7448403b7c55e15d03
  }
}

@media (max-width: 575px) {
<<<<<<< HEAD
   .u-section-12 {
    min-height: 346px;
  }

  .u-section-12 .u-text-1 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 0;
    margin-right: 82px;
    margin-left: 106px;
  }

  .u-section-12 .u-line-1 {
    margin-top: -16px;
  }

  .u-section-12 .u-line-2 {
    width: calc(((100% - 340px) / 2)  + 41px);
    margin-top: -3px;
=======
  .u-section-12 .u-sheet-1 {
    min-height: 358px;
  }

  .u-section-12 .u-text-1 {
    width: auto;
    margin-top: 12px;
    margin-left: 6px;
>>>>>>> 77a2cc184da70248e62c6b7448403b7c55e15d03
  }

  .u-section-12 .u-image-1 {
    height: 269px;
<<<<<<< HEAD
    margin-top: 28px;
=======
    margin-top: 7px;
    margin-bottom: 12px;
>>>>>>> 77a2cc184da70248e62c6b7448403b7c55e15d03
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-13 .u-sheet-1 {
  min-height: 597px;
}

.u-section-13 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 12px auto 0 0;
}

.u-section-13 .u-video-1 {
  height: 500px;
  margin-top: 10px;
  margin-bottom: 37px;
}

.u-section-13 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-13 .u-video-1 {
    margin-top: 26px;
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-text-1 {
    margin-top: -84px;
  }

  .u-section-13 .u-video-1 {
    height: 404px;
    margin-top: 122px;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-text-1 {
    font-size: 1rem;
    margin-top: -178px;
  }

  .u-section-13 .u-video-1 {
    height: 310px;
    margin-top: 229px;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-sheet-1 {
    min-height: 319px;
  }

  .u-section-13 .u-text-1 {
    width: auto;
    margin-top: 17px;
    margin-right: 0;
  }

  .u-section-13 .u-video-1 {
    height: 200px;
    margin-top: 10px;
    margin-bottom: 17px;
  }
<<<<<<< HEAD
}.u-block-faf6-4 {
  position: absolute;
  inset: auto auto 22.9688px calc(50% - 98.8438px);
}

.u-block-faf6-5 {
  position: absolute;
  left: 0;
  width: 65px;
  height: 65px;
  right: auto;
}

.u-block-faf6-6 {
  position: absolute;
  width: 65px;
  height: 65px;
  left: auto;
  right: 0;
}

.u-section-14-1 .u-sheet-1 {
  min-height: 767px;
}

.u-section-14-1 .u-text-1 {
  font-weight: 400;
  font-size: 3rem;
  margin: 0 82px 0 48px;
}

.u-section-14-1 .u-line-1 {
  width: 210px;
  transform-origin: left center;
  margin: -26px -64px 0 auto;
}

.u-section-14-1 .u-line-2 {
  width: 154px;
  transform-origin: left center;
  margin: 1px auto 0 -62px;
}

.u-section-14-1 .u-image-1 {
  width: 568px;
  height: 300px;
  margin: 30px auto 0 -27px;
}

.u-section-14-1 .u-image-2 {
  width: 570px;
  height: 248px;
  margin: -274px 0 0 auto;
}

.u-section-14-1 .u-image-3 {
  width: 414px;
  height: 354px;
  margin: 26px 70px 0 auto;
}

.u-section-14-1 .u-image-4 {
  width: 469px;
  height: 388px;
  margin: -342px auto 3px 14px;
}

@media (max-width: 1199px) {
  .u-section-14-1 .u-text-1 {
    margin-right: 75px;
    margin-left: 125px;
  }

  .u-section-14-1 .u-line-1 {
    margin-right: 75px;
  }

  .u-section-14-1 .u-line-2 {
    margin-left: 75px;
  }

  .u-section-14-1 .u-image-1 {
    margin-top: 20px;
    margin-left: 73px;
  }

  .u-section-14-1 .u-image-2 {
    width: 470px;
    height: 204px;
    margin-top: 20px;
    margin-right: 100px;
  }

  .u-section-14-1 .u-image-3 {
    margin-right: 170px;
  }

  .u-section-14-1 .u-image-4 {
    margin-top: 20px;
    margin-left: 114px;
  }
}

@media (max-width: 991px) {
  .u-section-14-1 .u-text-1 {
    margin-right: 185px;
    margin-left: 235px;
  }

  .u-section-14-1 .u-line-1 {
    margin-right: 185px;
  }

  .u-section-14-1 .u-line-2 {
    margin-left: 185px;
  }

  .u-section-14-1 .u-image-1 {
    margin-left: 183px;
  }

  .u-section-14-1 .u-image-2 {
    width: 360px;
    height: 156px;
    margin-right: 210px;
  }

  .u-section-14-1 .u-image-3 {
    margin-right: 280px;
  }

  .u-section-14-1 .u-image-4 {
    margin-left: 224px;
  }
}

@media (max-width: 767px) {
  .u-section-14-1 .u-sheet-1 {
    min-height: 739px;
  }

  .u-section-14-1 .u-text-1 {
    margin-top: 149px;
    margin-left: 300px;
    margin-right: 300px;
    font-size: 2.25rem;
  }

  .u-section-14-1 .u-line-1 {
    margin-right: 300px;
  }

  .u-section-14-1 .u-line-2 {
    margin-left: 275px;
  }

  .u-section-14-1 .u-image-1 {
    width: 540px;
    height: 285px;
    margin-left: 300px;
  }

  .u-section-14-1 .u-image-2 {
    width: 270px;
    height: 117px;
    margin-top: -182px;
    margin-right: 300px;
  }

  .u-section-14-1 .u-image-3 {
    margin-top: 65px;
    margin-right: auto;
    margin-left: 356px;
  }

  .u-section-14-1 .u-image-4 {
    margin-left: 314px;
  }
}

@media (max-width: 575px) {
  .u-section-14-1 .u-sheet-1 {
    min-height: 371px;
  }

  .u-section-14-1 .u-text-1 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 28px;
    margin-right: -1px;
    margin-left: -22px;
  }

  .u-section-14-1 .u-line-1 {
    width: 145px;
    margin-top: -11px;
    margin-right: auto;
    margin-left: -145px;
  }

  .u-section-14-1 .u-line-2 {
    margin-top: -3px;
    margin-right: -137px;
    margin-left: auto;
  }

  .u-section-14-1 .u-image-1 {
    height: 112px;
    width: 176px;
    margin-top: 54px;
    margin-left: 0;
  }

  .u-section-14-1 .u-image-2 {
    width: 170px;
    height: 74px;
    margin-top: -105px;
    margin-right: 0;
  }

  .u-section-14-1 .u-image-3 {
    width: 148px;
    height: 130px;
    margin-top: 36px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-14-1 .u-image-4 {
    height: 133px;
    width: 133px;
    margin-top: -135px;
    margin-bottom: 32px;
    margin-left: 22px;
  }
}

.u-section-14-2 .u-sheet-1 {
  min-height: 764px;
}

.u-section-14-2 .u-image-1 {
  width: 389px;
  height: 242px;
  margin: -11px auto 0 361px;
}

.u-section-14-2 .u-image-2 {
  width: 554px;
  height: 554px;
  margin: -54px 75px 0 auto;
}

.u-section-14-2 .u-image-3 {
  width: 434px;
  height: 500px;
  margin: -500px auto 33px 21px;
}

@media (max-width: 1199px) {
  .u-section-14-2 .u-image-1 {
    margin-top: -31px;
  }
}

@media (max-width: 991px) {
  .u-section-14-2 .u-image-1 {
    margin-left: 331px;
  }
}

@media (max-width: 767px) {
  .u-section-14-2 .u-sheet-1 {
    min-height: 750px;
  }

  .u-section-14-2 .u-image-1 {
    margin-top: -46px;
    margin-left: 151px;
  }

  .u-section-14-2 .u-image-2 {
    width: 540px;
    height: 540px;
    margin-top: 32px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-14-2 .u-sheet-1 {
    min-height: 373px;
  }

  .u-section-14-2 .u-image-1 {
    width: 340px;
    height: 212px;
    margin-top: -234px;
    margin-left: 0;
  }

  .u-section-14-2 .u-image-2 {
    height: 197px;
    width: 253px;
    margin-top: 196px;
    margin-right: auto;
  }

  .u-section-14-2 .u-image-3 {
    height: 164px;
    width: 193px;
    margin-top: -361px;
    margin-bottom: 60px;
    margin-left: 61px;
  }
}

.u-section-14-3 .u-sheet-1 {
  min-height: 665px;
}

.u-section-14-3 .u-image-1 {
  width: 624px;
  height: 249px;
  margin: 17px auto 0 40px;
}

.u-section-14-3 .u-image-2 {
  width: 570px;
  height: 284px;
  margin: 16px auto 0 0;
}

.u-section-14-3 .u-image-3 {
  width: 399px;
  height: 300px;
  margin: -284px 131px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-14-3 .u-sheet-1 {
    min-height: 615px;
  }

  .u-section-14-3 .u-image-2 {
    width: 470px;
    height: 234px;
  }

  .u-section-14-3 .u-image-3 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-14-3 .u-sheet-1 {
    min-height: 560px;
  }

  .u-section-14-3 .u-image-2 {
    width: 360px;
    height: 179px;
  }
}

@media (max-width: 767px) {
  .u-section-14-3 .u-sheet-1 {
    min-height: 481px;
  }

  .u-section-14-3 .u-image-1 {
    width: 540px;
    height: 215px;
    margin-left: 0;
  }

  .u-section-14-3 .u-image-2 {
    width: 270px;
    height: 134px;
  }
}

@media (max-width: 575px) {
  .u-section-14-3 .u-sheet-1 {
    min-height: 483px;
  }

  .u-section-14-3 .u-image-1 {
    width: 340px;
    height: 135px;
  }

  .u-section-14-3 .u-image-3 {
    height: 256px;
    margin-top: -158px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

.u-section-14-4 .u-sheet-1 {
  min-height: 672px;
}

.u-section-14-4 .u-image-1 {
  width: 1104px;
  height: 653px;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-14-4 .u-sheet-1 {
    min-height: 700px;
  }

  .u-section-14-4 .u-image-1 {
    width: 940px;
    height: 556px;
  }
}

@media (max-width: 991px) {
  .u-section-14-4 .u-image-1 {
    width: 720px;
    height: 426px;
  }
}

@media (max-width: 767px) {
  .u-section-14-4 .u-image-1 {
    width: 540px;
    height: 320px;
  }
}

@media (max-width: 575px) {
  .u-section-14-4 .u-sheet-1 {
    min-height: 302px;
  }

  .u-section-14-4 .u-image-1 {
    width: 340px;
    height: 201px;
    margin-bottom: 60px;
  }
}

.u-section-14-5 .u-sheet-1 {
  min-height: 683px;
}

.u-section-14-5 .u-image-1 {
  width: 1081px;
  height: 647px;
  margin: 19px auto 17px 23px;
}

@media (max-width: 1199px) {
  .u-section-14-5 .u-sheet-1 {
    min-height: 700px;
  }

  .u-section-14-5 .u-image-1 {
    width: 940px;
    height: 563px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-14-5 .u-image-1 {
    width: 720px;
    height: 431px;
  }
}

@media (max-width: 767px) {
  .u-section-14-5 .u-image-1 {
    width: 540px;
    height: 323px;
  }
}

@media (max-width: 575px) {
  .u-section-14-5 .u-sheet-1 {
    min-height: 318px;
  }

  .u-section-14-5 .u-image-1 {
    width: 340px;
    height: 203px;
    margin-bottom: 60px;
  }
}

.u-section-14-6 .u-sheet-1 {
  min-height: 660px;
}

.u-section-14-6 .u-image-1 {
  width: 991px;
  height: 503px;
  margin: 75px 63px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-14-6 .u-sheet-1 {
    min-height: 634px;
  }

  .u-section-14-6 .u-image-1 {
    width: 940px;
    height: 477px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-14-6 .u-sheet-1 {
    min-height: 522px;
  }

  .u-section-14-6 .u-image-1 {
    width: 720px;
    height: 365px;
  }
}

@media (max-width: 767px) {
  .u-section-14-6 .u-sheet-1 {
    min-height: 431px;
  }

  .u-section-14-6 .u-image-1 {
    width: 540px;
    height: 274px;
  }
}

@media (max-width: 575px) {
  .u-section-14-6 .u-sheet-1 {
    min-height: 298px;
  }

  .u-section-14-6 .u-image-1 {
    width: 340px;
    height: 173px;
    margin-bottom: 48px;
  }
}

.u-section-14-7 .u-sheet-1 {
  min-height: 650px;
}

.u-section-14-7 .u-image-1 {
  width: 1092px;
  height: 614px;
  margin: 35px 16px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-14-7 .u-sheet-1 {
    min-height: 684px;
  }

  .u-section-14-7 .u-image-1 {
    width: 940px;
    height: 529px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-14-7 .u-sheet-1 {
    min-height: 576px;
  }

  .u-section-14-7 .u-image-1 {
    width: 720px;
    height: 405px;
  }
}

@media (max-width: 767px) {
  .u-section-14-7 .u-sheet-1 {
    min-height: 487px;
  }

  .u-section-14-7 .u-image-1 {
    width: 540px;
    height: 304px;
  }
}

@media (max-width: 575px) {
  .u-section-14-7 .u-sheet-1 {
    min-height: 296px;
  }

  .u-section-14-7 .u-image-1 {
    width: 340px;
    height: 191px;
  }
}

.u-section-14-8 .u-sheet-1 {
  min-height: 659px;
}

.u-section-14-8 .u-image-1 {
  width: 1059px;
  height: 587px;
  margin: 42px auto 30px;
}

@media (max-width: 1199px) {
  .u-section-14-8 .u-sheet-1 {
    min-height: 593px;
  }

  .u-section-14-8 .u-image-1 {
    width: 940px;
    height: 521px;
  }
}

@media (max-width: 991px) {
  .u-section-14-8 .u-sheet-1 {
    min-height: 471px;
  }

  .u-section-14-8 .u-image-1 {
    width: 720px;
    height: 399px;
  }
}

@media (max-width: 767px) {
  .u-section-14-8 .u-sheet-1 {
    min-height: 371px;
  }

  .u-section-14-8 .u-image-1 {
    width: 540px;
    height: 299px;
  }
}

@media (max-width: 575px) {
  .u-section-14-8 .u-sheet-1 {
    min-height: 260px;
  }

  .u-section-14-8 .u-image-1 {
    width: 340px;
    height: 188px;
  }
}

.u-section-14-9 .u-sheet-1 {
  min-height: 649px;
}

.u-section-14-9 .u-image-1 {
  width: 820px;
  height: 545px;
  margin: 69px auto 35px 125px;
}

@media (max-width: 1199px) {
  .u-section-14-9 .u-image-1 {
    margin-left: 120px;
  }
}

@media (max-width: 991px) {
  .u-section-14-9 .u-sheet-1 {
    min-height: 747px;
  }

  .u-section-14-9 .u-image-1 {
    width: 720px;
    height: 479px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-14-9 .u-sheet-1 {
    min-height: 733px;
  }

  .u-section-14-9 .u-image-1 {
    width: 540px;
    height: 359px;
  }
}

@media (max-width: 575px) {
  .u-section-14-9 .u-sheet-1 {
    min-height: 262px;
  }

  .u-section-14-9 .u-image-1 {
    width: 340px;
    height: 226px;
    margin-top: 19px;
    margin-right: 0;
    margin-bottom: 17px;
  }
}

.u-section-14-10 .u-sheet-1 {
  min-height: 660px;
}

.u-section-14-10 .u-text-1 {
  font-size: 2.25rem;
  margin: 214px auto 60px;
}

@media (max-width: 575px) {
  .u-section-14-10 .u-sheet-1 {
    min-height: 321px;
  }

  .u-section-14-10 .u-text-1 {
    width: auto;
    margin-top: 74px;
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-15 .u-sheet-1 {
  min-height: 637px;
}

.u-section-15 .u-image-1 {
=======
}.u-section-14 .u-sheet-1 {
  min-height: 637px;
}

.u-section-14 .u-image-1 {
>>>>>>> 77a2cc184da70248e62c6b7448403b7c55e15d03
  width: 1143px;
  height: 619px;
  margin: 9px -3px 9px auto;
}

@media (max-width: 1199px) {
<<<<<<< HEAD
  .u-section-15 .u-sheet-1 {
    min-height: 527px;
  }

  .u-section-15 .u-image-1 {
=======
  .u-section-14 .u-sheet-1 {
    min-height: 527px;
  }

  .u-section-14 .u-image-1 {
>>>>>>> 77a2cc184da70248e62c6b7448403b7c55e15d03
    width: 940px;
    height: 509px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
<<<<<<< HEAD
  .u-section-15 .u-sheet-1 {
    min-height: 408px;
  }

  .u-section-15 .u-image-1 {
=======
  .u-section-14 .u-sheet-1 {
    min-height: 408px;
  }

  .u-section-14 .u-image-1 {
>>>>>>> 77a2cc184da70248e62c6b7448403b7c55e15d03
    width: 720px;
    height: 390px;
  }
}

@media (max-width: 767px) {
<<<<<<< HEAD
  .u-section-15 .u-sheet-1 {
    min-height: 311px;
  }

  .u-section-15 .u-image-1 {
=======
  .u-section-14 .u-sheet-1 {
    min-height: 311px;
  }

  .u-section-14 .u-image-1 {
>>>>>>> 77a2cc184da70248e62c6b7448403b7c55e15d03
    width: 540px;
    height: 293px;
  }
}

@media (max-width: 575px) {
<<<<<<< HEAD
  .u-section-15 .u-sheet-1 {
    min-height: 223px;
  }

  .u-section-15 .u-image-1 {
=======
  .u-section-14 .u-sheet-1 {
    min-height: 223px;
  }

  .u-section-14 .u-image-1 {
>>>>>>> 77a2cc184da70248e62c6b7448403b7c55e15d03
    height: 184px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
<<<<<<< HEAD
} .u-section-16 {
=======
} .u-section-15 {
>>>>>>> 77a2cc184da70248e62c6b7448403b7c55e15d03
  background-image: url("images/pp9.png");
  background-position: 50% 50%;
}

<<<<<<< HEAD
.u-section-16 .u-sheet-1 {
=======
.u-section-15 .u-sheet-1 {
>>>>>>> 77a2cc184da70248e62c6b7448403b7c55e15d03
  min-height: 632px;
}

@media (max-width: 1199px) {
<<<<<<< HEAD
  .u-section-16 .u-sheet-1 {
=======
  .u-section-15 .u-sheet-1 {
>>>>>>> 77a2cc184da70248e62c6b7448403b7c55e15d03
    min-height: 533px;
  }
}

@media (max-width: 991px) {
<<<<<<< HEAD
  .u-section-16 .u-sheet-1 {
=======
  .u-section-15 .u-sheet-1 {
>>>>>>> 77a2cc184da70248e62c6b7448403b7c55e15d03
    min-height: 408px;
  }
}

@media (max-width: 767px) {
<<<<<<< HEAD
  .u-section-16 .u-sheet-1 {
=======
  .u-section-15 .u-sheet-1 {
>>>>>>> 77a2cc184da70248e62c6b7448403b7c55e15d03
    min-height: 306px;
  }
}

@media (max-width: 575px) {
<<<<<<< HEAD
  .u-section-16 .u-sheet-1 {
=======
  .u-section-15 .u-sheet-1 {
>>>>>>> 77a2cc184da70248e62c6b7448403b7c55e15d03
    min-height: 193px;
  }
}